# Module 1 Homework: Docker & SQL

In this homework we'll prepare the environment and practice Docker and SQL

## Question 1. Understanding docker first run 

Run docker with the `python:3.12.8` image in an interactive mode, use the entrypoint `bash`.

In [65]:
!docker run -it -d --entrypoint=bash python:3.12.8
!docker ps

b0b7bd244d174afaa16069a17674c270de3d247ed7f53a63e1491bf27e054b73
CONTAINER ID   IMAGE           COMMAND   CREATED        STATUS                  PORTS     NAMES
b0b7bd244d17   python:3.12.8   "bash"    1 second ago   Up Less than a second             happy_bell

In [66]:
!docker exec b0b7bd244d17 pip --version

pip 24.3.1 from /usr/local/lib/python3.12/site-packages/pip (python 3.12)

What's the version of `pip` in the image?

- [x] 24.3.1
- [ ] 24.2.1
- [ ] 23.3.1
- [ ] 23.2.1

## Question 2. Understanding Docker networking and docker-compose

Given the following `docker-compose.yaml`, what is the `hostname` and `port` that **pgadmin** should use to connect to the postgres database?
- [ ] postgres:5433
- [ ] localhost:5432
- [ ] db:5433
- [ ] postgres:5432
- [x] db:5432

##  Prepare Postgres

Run Postgres and load data as shown in the videos
We'll use the green taxi trips from October 2019:

```bash
wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-10.csv.gz
```

You will also need the dataset with zones:

```bash
wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv
```

Download this data and put it into Postgres.

You can use the code from the course. It's up to you whether
you want to use Jupyter or a python script.

In [97]:
import os
import pandas as pd
from sqlalchemy import create_engine
from time import time

In [90]:
urls = ['https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-10.csv.gz', 
       'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv']

for url in urls:
        # Use the correct file extension
    if url.endswith('.csv.gz'):
        csv_name = 'output.csv.gz'
    else:
        csv_name = 'output.csv'
    os.system(f"wget {url} -O {csv_name}")
    
engine = create_engine(f'postgresql://postgres:postgres@localhost:5433/ny_taxi')

[0] Downloading 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-10.csv.gz' ...
HTTP response 302  [https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-10.csv.gz]
Adding URL: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/ea580e9e-555c-4bd0-ae73-43051d8e7c0b?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=releaseassetproduction%2F20250123%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250123T155017Z&X-Amz-Expires=300&X-Amz-Signature=150e0ebec8bc6777ba9a4a4a583874c15db1c1e733fcde0e5ac310b1d8bc3b1e&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-10.csv.gz&response-content-type=application%2Foctet-stream
[0] Downloading 'https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/ea580e9e-555c-4bd0-ae73-43051d8e7c0b?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=releaseassetproduction%2F20250123%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250123T155017Z&X-Amz-Expires=300&X-Amz-Signature=150e0ebec8bc6777ba9a4a4a583874c15db1c1e733fcde0e5ac310b1d8bc3b1e&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-10.csv.gz&response-content-type=application%2Foctet-stream' ...
Saving 'output.csv.gz'
HTTP response 200  [https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/ea580e9e-555c-4bd0-ae73-43051d8e7c0b?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=releaseassetproduction%2F20250123%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250123T155017Z&X-Amz-Expires=300&X-Amz-Signature=150e0ebec8bc6777ba9a4a4a583874c15db1c1e733fcde0e5ac310b1d8bc3b1e&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-10.csv.gz&response-content-type=application%2Foctet-stream]
[0] Downloading 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv' ...
HTTP response 302  [https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv]
Adding URL: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=releaseassetproduction%2F20250123%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250123T155024Z&X-Amz-Expires=300&X-Amz-Signature=5b8cd6354c105f7f314ef5815e46c8b3d50e4a9014a004c3337ce664f3f234f6&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream
[0] Downloading 'https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=releaseassetproduction%2F20250123%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250123T155024Z&X-Amz-Expires=300&X-Amz-Signature=5b8cd6354c105f7f314ef5815e46c8b3d50e4a9014a004c3337ce664f3f234f6&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream' ...
Saving 'output.csv'
HTTP response 200  [https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=releaseassetproduction%2F20250123%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250123T155024Z&X-Amz-Expires=300&X-Amz-Signature=5b8cd6354c105f7f314ef5815e46c8b3d50e4a9014a004c3337ce664f3f234f6&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream]

In [89]:
engine.connect()

In [98]:
df_iter = pd.read_csv('output.csv.gz', iterator=True, chunksize=100000)
table_name = 'green_tripdata_2019'

df = next(df_iter)
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

df.head(n=0).to_sql(name=table_name, con=engine, if_exists='replace')

df.to_sql(name=table_name, con=engine, if_exists="append")

while True:

    try:
        start_time = time()
        data_chunk = next(df_iter)

        data_chunk.lpep_pickup_datetime = pd.to_datetime(data_chunk.lpep_pickup_datetime)
        data_chunk.lpep_dropoff_datetime = pd.to_datetime(data_chunk.lpep_dropoff_datetime)

        data_chunk.to_sql(name=table_name, con=engine, if_exists="append")
        end_time = time()

        print("Inserted another chunk in %.3f seconds" % (end_time - start_time))
    except StopIteration:
        print("Finished ingesting data into the postgreSQL database")
        break

Inserted another chunk in 6.892 seconds
Inserted another chunk in 6.599 seconds

/tmp/ipykernel_397275/1552648659.py:16: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  data_chunk = next(df_iter)

Inserted another chunk in 5.670 seconds
Inserted another chunk in 5.290 seconds
Finished ingesting data into the postgreSQL database

In [99]:
df_iter = pd.read_csv('output.csv', iterator=True, chunksize=100000)
table_name = 'taxi_zone_lookup'

df = next(df_iter)

df.head(n=0).to_sql(name=table_name, con=engine, if_exists='replace')

df.to_sql(name=table_name, con=engine, if_exists="append")

while True:

    try:
        start_time = time()
        data_chunk = next(df_iter)

        data_chunk.to_sql(name=table_name, con=engine, if_exists="append")
        end_time = time()

        print("Inserted another chunk in %.3f seconds" % (end_time - start_time))
    except StopIteration:
        print("Finished ingesting data into the postgreSQL database")
        break

Finished ingesting data into the postgreSQL database

## Question 3. Trip Segmentation Count

During the period of October 1st 2019 (inclusive) and November 1st 2019 (exclusive), how many trips, **respectively**, happened:
1. Up to 1 mile
2. In between 1 (exclusive) and 3 miles (inclusive),
3. In between 3 (exclusive) and 7 miles (inclusive),
4. In between 7 (exclusive) and 10 miles (inclusive),
5. Over 10 miles 

Answers:

- [ ] 104,802;  197,670;  110,612;  27,831;  35,281
- [x] 104,802;  198,924;  109,603;  27,678;  35,189
- [ ] 104,793;  201,407;  110,612;  27,831;  35,281
- [ ] 104,793;  202,661;  109,603;  27,678;  35,189
- [ ] 104,838;  199,013;  109,645;  27,688;  35,202


### Queries
1. ```SQL
    SELECT
    COUNT(*) as total_trips
    FROM
    	public.green_tripdata_2019
    WHERE
    	lpep_pickup_datetime >= '2019-10-01' and lpep_pickup_datetime < '2019-11-01' 
    	and
    	lpep_dropoff_datetime >= '2019-10-01'and lpep_dropoff_datetime < '2019-11-01'
    	and trip_distance <= 1
        
2. ```SQL
    SELECT
    COUNT(*) as total_trips
    FROM
    	public.green_tripdata_2019
    WHERE
    	lpep_pickup_datetime >= '2019-10-01' and lpep_pickup_datetime < '2019-11-01' 
    	and
    	lpep_dropoff_datetime >= '2019-10-01'and lpep_dropoff_datetime < '2019-11-01'
    	and trip_distance > 1
    	and trip_distance <= 3
        
3. ```SQL
    SELECT
    COUNT(*) as total_trips
    FROM
    	public.green_tripdata_2019
    WHERE
    	lpep_pickup_datetime >= '2019-10-01' and lpep_pickup_datetime < '2019-11-01' 
    	and
    	lpep_dropoff_datetime >= '2019-10-01'and lpep_dropoff_datetime < '2019-11-01'
    	and trip_distance > 3
    	and trip_distance <= 7
        
4. ```SQL
    SELECT
    COUNT(*) as total_trips
    FROM
    	public.green_tripdata_2019
    WHERE
    	lpep_pickup_datetime >= '2019-10-01' and lpep_pickup_datetime < '2019-11-01' 
    	and
    	lpep_dropoff_datetime >= '2019-10-01'and lpep_dropoff_datetime < '2019-11-01'
    	and trip_distance > 7
    	and trip_distance <= 10

5. ```SQL
    SELECT
    COUNT(*) as total_trips
    FROM
    	public.green_tripdata_2019
    WHERE
    	lpep_pickup_datetime >= '2019-10-01' and lpep_pickup_datetime < '2019-11-01' 
    	and
    	lpep_dropoff_datetime >= '2019-10-01'and lpep_dropoff_datetime < '2019-11-01'
    	and trip_distance > 10
    ```

## Question 4. Longest trip for each day

Which was the pick up day with the longest trip distance?
Use the pick up time for your calculations.

Tip: For every day, we only care about one single trip with the longest distance. 

- [ ] 2019-10-11
- [ ] 2019-10-24
- [ ] 2019-10-26
- [x] 2019-10-31


```SQL
SELECT
    CAST(lpep_pickup_datetime AS DATE) AS "day",
    MAX(trip_distance) AS "max"
FROM 
    public.green_tripdata_2019
GROUP BY
    CAST(lpep_pickup_datetime AS DATE)
ORDER BY
    "max" DESC
LIMIT 100;
```

## Question 5. Three biggest pickup zones

Which were the top pickup locations with over 13,000 in
`total_amount` (across all trips) for 2019-10-18?

Consider only `lpep_pickup_datetime` when filtering by date.
 
- [x] East Harlem North, East Harlem South, Morningside Heights
- [ ] East Harlem North, Morningside Heights
- [ ] Morningside Heights, Astoria Park, East Harlem South
- [ ] Bedford, East Harlem North, Astoria Park

```SQL
SELECT
    zpu."Zone" AS "pickup_loc",
	SUM(t.total_amount) as "total_amount"
FROM 
    green_tripdata_2019 t,
    taxi_zone_lookup zpu
WHERE
    t."PULocationID" = zpu."LocationID"
	AND
lpep_pickup_datetime >= '2019-10-18' and lpep_pickup_datetime < '2019-10-19'
GROUP BY "pickup_loc"
ORDER BY 2 DESC;
```

## Question 6. Largest tip

For the passengers picked up in October 2019 in the zone
named "East Harlem North" which was the drop off zone that had
the largest tip?

Note: it's `tip` , not `trip`

We need the name of the zone, not the ID.

- [ ] Yorkville West
- [x] JFK Airport
- [ ] East Harlem North
- [ ] East Harlem South

```SQL
SELECT
    zdo."Zone" AS "dropff_loc",
	MAX(t."tip_amount")
FROM 
    green_tripdata_2019 t,
    taxi_zone_lookup zpu,
    taxi_zone_lookup zdo
WHERE
    t."PULocationID" = zpu."LocationID"
    AND t."DOLocationID" = zdo."LocationID"
	AND
	lpep_pickup_datetime >= '2019-10-01' and lpep_pickup_datetime < '2019-11-01' 
	and
	lpep_dropoff_datetime >= '2019-10-01'and lpep_dropoff_datetime < '2019-11-01'
	AND zpu."Zone" = 'East Harlem North'
GROUP BY "dropff_loc"
ORDER BY 2 DESC;
```

## Terraform

In this section homework we'll prepare the environment by creating resources in GCP with Terraform.

In your VM on GCP/Laptop/GitHub Codespace install Terraform. 
Copy the files from the course repo
[here](../../../01-docker-terraform/1_terraform_gcp/terraform) to your VM/Laptop/GitHub Codespace.

Modify the files as necessary to create a GCP Bucket and Big Query Dataset.


## Question 7. Terraform Workflow

Which of the following sequences, **respectively**, describes the workflow for: 
1. Downloading the provider plugins and setting up backend,
2. Generating proposed changes and auto-executing the plan
3. Remove all resources managed by terraform`

Answers:
- [ ] terraform import, terraform apply -y, terraform destroy
- [ ] teraform init, terraform plan -auto-apply, terraform rm
- [ ] terraform init, terraform run -auto-approve, terraform destroy
- [x] terraform init, terraform apply -auto-approve, terraform destroy
- [ ] terraform import, terraform apply -y, terraform rm